# Logs
logs
*.log
npm-debug.log*

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Nuxt.js build / generate output
.nuxt
dist

package-lock.json
